<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh; color: white;">
  <div class="row text-center w-100">
    <div class="col-12">

      <h3 class="mb-4" style="font-weight: 700; letter-spacing: 1px; font-size: 2rem;">Hi <%= current_or_guest_user.username %>!</h3>

      <%= link_to "Create a party", new_party_path, class: "btn button-orange shadow w-100 m-0 fw-bold mb-4" %>

      <div>
        <%= form_with url: parties_path, method: :get do |f| %>
          <%= f.text_field :party_code,
                          placeholder: "Enter party code",
                          class: "form-control rounded-pill mb-4" %>
          <%= f.submit "Join party", class: "btn button-orange shadow w-100 m-0 fw-bold" %>
        <% end %>
      </div>

    </div>
  </div>

</div>
