<% content_for :meta_title, "ReelMates - Set Up Your Movie Party" %>
<% content_for :meta_description, "Customize your movie party settings. Choose your platform, movie categories, and preferences to get personalized movie recommendations with friends." %>

<div data-controller="checkbox" class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh; color: white;">
  <div class="row w-100">
    <div class="settings col-12 col-md-8 offset-md-2">
      <div class="text-center mb-4 mt-2">
        <h2 class="mb-2" style="font-weight: 700; font-size: 2rem;">Party Settings</h2>
      </div>
      <div class="text-left">
        <h4 class="title-settings mb-3">Platforms</h4>
      </div>

      <%= simple_form_for @party do |f| %>
        <div class="d-flex flex-wrap mb-4">
          <% Party::PROVIDERS.each do |provider| %>
            <div class="custom-checkbox-wrapper">
              <%= check_box_tag 'party[platform_setting][]', provider[:id], false, id: "platform_#{provider[:id]}", class: 'd-none', onclick: 'toggleCheckboxState(this)' %>
              <label for="platform_<%= provider[:id] %>" class="custom-checkbox">
                <span class="checkbox-label"><%= provider[:name] %></span>
                <i class="fa fa-check" aria-hidden="true"></i>
              </label>
            </div>
          <% end %>
        </div>

        <div class="text-left mt-4">
          <h4 class="title-settings mb-3">Periods</h4>
        </div>

        <div class="d-flex flex-column align-items-center mb-2">
          <label for="year-slider">Select Year Range:</label>
          <div id="year-slider" style="margin: 20px 0;"></div>
          <div class="d-none" style="display: flex; justify-content: space-between; margin-top: 10px;">
            <span id="start-year-display">1920</span>
            <span id="end-year-display">2024</span>
          </div>

          <%= f.hidden_field :start_year, id: "start_year_input" %>
          <%= f.hidden_field :end_year, id: "end_year_input" %>

        </div>

        <div class="text-left">
          <h4 class="title-settings mb-3 mt-2">Categories</h4>
        </div>

        <div class="d-flex flex-wrap">
          <% Party::GENRES.each do |genre| %>
            <div class="custom-checkbox-wrapper">
              <%= check_box_tag 'party[category_setting][]', genre[:id], false, id: "category_#{genre[:id]}", class: 'd-none', onclick: 'toggleCheckboxState(this)' %>
              <label for="category_<%= genre[:id] %>" class="custom-checkbox">
                <span class="checkbox-label"><%= genre[:name] %></span>
                <i class="fa-solid fa-check fa-sm" style="color: #ffffff;" aria-hidden="true"></i>
              </label>
            </div>
          <% end %>
        </div>

        <div class="d-flex justify-content-center flex-column align-items-center">
          <%= f.submit "CREATE", class: "btn button-orange shadow w-100 m-0 fw-bold mt-4 mb-3" %>
          <%= link_to "BACK", :back, class: "text-center text-black text-decoration-none w-100 m-0 fw-bold" %>
        </div>
      <% end %>

      <script>
        document.addEventListener("turbo:load", () => {
        const slider = document.getElementById("year-slider");
        const startYearDisplay = document.getElementById("start-year-display");
        const endYearDisplay = document.getElementById("end-year-display");
        const startYearInput = document.getElementById("start_year_input");
        const endYearInput = document.getElementById("end_year_input");

        if (slider) {
          noUiSlider.create(slider, {
            start: [1920, 2024],
            connect: true,
            range: {
              min: 1920,
              max: 2024
            },
            step: 1,
            tooltips: [true, true],
            format: {
              to: value => Math.round(value),
              from: value => Math.round(value)
            }
          });

          slider.noUiSlider.on("update", (values) => {
            const [start, end] = values.map(value => Math.round(value));
            startYearDisplay.textContent = start;
            endYearDisplay.textContent = end;

            startYearInput.value = start;
            endYearInput.value = end;
          });
        }
      });
      </script>
      <script>
        function toggleCheckboxState(checkbox) {
          const label = checkbox.nextElementSibling;
          const checkIcon = label.querySelector('.fa-check');
          const textLabel = label.querySelector('.checkbox-label');

          if (checkbox.checked) {
            checkIcon.style.display = 'inline-block';
            textLabel.classList.add('reduced-text');
          } else {
            checkIcon.style.display = 'none';
            textLabel.classList.remove('reduced-text');
          }
        }
      </script>
    </div>
  </div>
</div>
