<h1>Choose your settings</h1>

<h3>Platforms</h3>
  <%= simple_form_for @party do |f| %>

  <%= f.input :platform_setting, collection: Party::PROVIDERS, as: :check_boxes %>

  <h3>Select a time interval</h3>
  <div>
    <%= f.input :start_year %>
    <%= f.input :end_year %>

  </div>

  <h3>Choose categories</h3>
  <%= f.input :category_setting, collection: @categories.map { |category| category["name"] }, as: :check_boxes %>

    <div>
      <%= link_to "Back", :back, class: "btn btn-secondary" %>
      <%= f.submit "Create", class: "btn btn-primary" %>
    </div>
<% end %>
