<div data-controller="checkbox" class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh; color: white;">
  <div class="row w-100">
    <div class="col-12 col-md-8 offset-md-2 ps-4 pe-4">
      <div class="text-center mb-4">
        <h4>Party Settings</h4>
      </div>
      <div class="text-left">
        <h4>Platforms</h4>
      </div>
      <%= simple_form_for @party do |f| %>
        <div class="d-flex flex-wrap">
          <%= f.input :platform_setting,
                      collection: Party::PROVIDERS,
                      as: :check_boxes,
                      label: '',
                      label_method: lambda { |provider| "<span class='checkbox-label'>#{provider[:name]}</span>".html_safe },
                      value_method: lambda { |provider| provider[:id] },
                      input_html: {
                        data: { checkbox_target: "checkbox" },
                        multiple: true,
                        class: 'd-none'
                      },
                      include_hidden: false %>
          </div>

        <div class="text-left">
          <h4>Periods</h4>
        </div>
        <div>
          <%= f.input :start_year, input_html: { class: '' } %>
          <%= f.input :end_year, input_html: { class: '' } %>
        </div>

        <div class="text-left">
          <h4>Categories</h4>
        </div>
        <div class="d-flex flex-wrap w-100 party_category_setting">
          <%= f.input :category_setting,
                      collection: Party::GENRES,
                      as: :check_boxes,
                      label: '',
                      label_method: lambda { |genre| "<span class='checkbox-label'>#{genre[:name]}</span>".html_safe },
                      value_method: lambda { |genre| genre[:id] },
                      input_html: {
                        data: { checkbox_target: "checkbox" },
                        multiple: true,
                        class: 'd-none'
                      },
                      include_hidden: false %>
        </div>

        <div>
          <%= link_to "BACK", :back, class: "btn button-orange shadow w-100 m-0 fw-bold mb-3" %>
          <%= f.submit "CREATE", class: "btn button-orange shadow w-100 m-0 fw-bold" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style>
input[type="checkbox"] {
  display: none;
}

/* When checked, change color */
input[type="checkbox"]:checked + label {
  background: #F66426;
}
</style>
