<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh; color: white;">
  <div class="row text-center w-100">
    <div class="col-12">
      <h1>Choose your settings</h1>
      <h3>Platforms</h3>
      <%= simple_form_for @party do |f| %>
      <div data-controller="checkbox">
        <div class="mb-2">
          <%= check_box_tag :check_all_platforms, 1, false,
              data: {
                checkbox_target: "all",
                action: "checkbox#toggleAll"
              }
          %>
          <%= label_tag :check_all_platforms, "Select All Platforms" %>
        </div>
          <%= f.input :platform_setting,
                      collection: Party::PROVIDERS,
                      as: :check_boxes,
                      label_method: lambda { |provider| "<p>#{provider[:name]}</p>".html_safe },
                      value_method: lambda { |provider| provider[:id] },
                      input_html: {
                        data: { checkbox_target: "checkbox" },
                        multiple: true
                      },
                      include_hidden: false %>
        </div>
        <h3>Select a time interval</h3>
        <div>
          <%= f.input :start_year %>
          <%= f.input :end_year %>
        </div>
        <h3>Choose categories</h3>
        <div data-controller="checkbox">
          <div class="mb-2">
            <%= check_box_tag :check_all, 1, false,
                data: {
                  checkbox_target: "all",
                  action: "checkbox#toggleAll"
                }
            %>
            <%= label_tag :check_all, "Select All Categories" %>
          </div>
          <%= f.input :category_setting,
                      collection: Party::GENRES,
                      as: :check_boxes,
                      label_method: lambda { |genre| "<p>#{genre[:name]}</p>".html_safe },
                      value_method: lambda { |genre| genre[:id] },
                      input_html: {
                        data: { checkbox_target: "checkbox" },
                        multiple: true
                      },
                      include_hidden: false %>
        </div>
        <div>
          <%= link_to "Back", :back, class: "btn btn-secondary" %>
          <%= f.submit "Create", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
