<div class="container-fluid-show-parties d-flex flex-column justify-content-center"
     data-controller="party-subscription"
     data-party-subscription-party-id-value="<%= @party.id %>">
  <% if @party.start == false && current_or_guest_user == @party.admin %>
    <!-- Top section -->
    <div class="text-center">
      <div class="mx-auto custom-box d-flex align-items-center justify-content-center">
        <h1 class="mb-0 ms-3"><%= @party.party_code %></h1>
        <button id="shareButton" class="btn btn-share" data-controller="share" data-action="click->share#shareCode" data-share-code="<%= @party.party_code %>">
          <i class="fa-solid fa-share-from-square fa-lg" style="color: #FFFFFF;"></i>
        </button>
      </div>
    </div>
    <!-- Middle section -->
    <div class="count-players text-center">
      <h3>Players</h3>
      <h3 class="mt-3"><%= @party.party_players.count %></h3>
    </div>
    <!-- Players list moved here -->
    <div class="players-list mt-3">
        <% @party.party_players.each do |player| %>
          <div class="player-item d-flex align-items-center justify-content-center gap-2 mb-2">
            <%= image_tag "avatars/#{player.user.avatar}",
                class: "avatar-img",
                style: "width: 60px; height: 60px; border-radius: 50%; object-fit: cover;" %>
            <span class="h4 mb-0"><%= player.user.username %></span>
          </div>
        <% end %>
    </div>
    <!-- Bottom section -->
    <div class="text-center" id="start-game-button">
      <%= button_to "Start game",
          start_party_path(@party),
          method: :put,
          class: "btn button-orange-start shadow fw-bold w-100" %>
    </div>
    <div class="back-settings-container text-center">
      <%= link_to "Back", :back, class: "back-settings" %>
    </div>
  <% end %>
  <% if @party.start == true %>
    <div class="text-center">
      <h2>Party already started!</h2>
      <h2>:space_invader::space_invader::space_invader:</h2>
    </div>
  <% end %>
</div>
