<h1><%= @party.party_code %></h1>

<p><%= @party.party_players.count %></p>

<% if @party.start == false && current_or_guest_user == @party.admin %>
  <%= link_to "Start game", start_party_path(@party), method: :put, class: "btn btn-primary" %>
<% end %>

<% if @party.start == true %>
  <%= link_to "See results", result_party_path(@party), method: :get, class: "btn btn-primary" %>
  <%= @party.tags %>
  <%= @party.movies %>
<% end %>
