<!DOCTYPE html>
<html>
  <head>
    <title>ReelMates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>

    <!-- Include Google Fonts for a cool modern font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anton&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <%# SWIPER %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <style>
      /* Custom styling for the title */
      #splash-screen img {
        display: block;
        margin: 0 auto;
      }
      #title {
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-size: 3rem;  /* Adjust size as needed */
        color: white;
        margin-top: 20px;
      }
    </style>
  </head>

  <body>
    <%# <%= render "shared/navbar" %>

    <div data-controller="splash">
      <div id="splash-screen" data-splash-target="splash">
        <img src="<%= asset_path('logo.png') %>" alt="Logo" />
      </div> <!-- Close splash-screen div here -->

      <div id="main-content" data-splash-target="content" class="d-none">
        <%= yield %>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>
  </body>
</html>
